<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick='vm.openForm()'>Open Form</button>
        <p>{{`Nilai a : ${a}`}}</p>
        <p>{{`Angka dimasukkan ${count} kali`}}</p>
        <p>{{`Nilai rata - rata : ${rata}`}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                rata: 0,
                count: 0
            },
            methods: {
                openForm: function () {
                    while (this.a <= 10) {
                        this.a = this.a + parseInt(prompt("Masukkan nilai a baru:"))
                        this.count += 1
                    }
                    this.rata = this.a / this.count
                }
            }
        })
    </script>
</body>

</html>