<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12 Ajax</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <!-- Container -->
    <div class="container bg-light">
        <!-- Content Start -->
        <div id="content">
            <!-- Form Member -->
            <div class="row m-2 p-2">
                <div class="col-12">
                    <h1 ref="form_title">Form Tambah Member</h1>
                </div>
                <div class="col-12">
                    <form>
                        <div class="form-group">
                            <label for="name">Nama</label>
                            <input type="text" ref="name" name="name" id="name" class="form-control" v-model="nama"
                                placeholder="Nama Lengkap" :disabled="buttonStatus == 'unggah'">
                            <small v-if="errors.nama.length > 1" id="errorName"
                                class="form-text text-danger">{{errors.nama}}</small>
                        </div>
                        <div class="form-group">
                            <label for="address">Alamat</label>
                            <input type="text" ref="address" name="address" id="address" class="form-control"
                                v-model="alamat" placeholder="Alamat Tempat Tinggal"
                                :disabled="buttonStatus == 'unggah'">
                            <small v-if="errors.alamat.length > 1" id="errorAddress"
                                class="form-text text-danger">{{errors.alamat}}</small>
                            <small v-if="errors.alamat.length < 1" id="addressHelper"
                                class="form-text text-muted">Minimal 10 Karakter</small>
                        </div>
                        <div class="form-group">
                            <label for="no_hp">No. Telpon</label>
                            <input type="text" ref="no_hp" name="no_hp" id="no_hp" class="form-control" v-model="notelp"
                                placeholder="Nomor Telepon Sekarang" :disabled="buttonStatus == 'unggah'">
                            <small v-if="errors.notelp.length > 1" id="errorNoHp"
                                class="form-text text-danger">{{errors.notelp}}</small>
                            <small v-if="errors.notelp.length < 1" id="noHpHelp" class="form-text text-muted">Minimal
                                9 Digit</small>
                        </div>
                        <div class="form-group" v-if="buttonStatus == 'unggah'">
                            <label for="photo_profile">Foto Profile</label>
                            <input type="file" ref="photo_profile" name="photo_profile" id="photo_profile"
                                class="form-control-file">
                        </div>
                        <button v-if="buttonStatus == 'tambah' " @click="tambahMember($event)" type="submit"
                            class="btn btn-primary">Tambah</button>
                        <button v-if="buttonStatus == 'ubah'" @click="ubahMember($event, memberId)" type="submit"
                            class="btn btn-primary">Ubah</button>
                        <button v-if="buttonStatus == 'unggah'" @click="unggahFoto($event, memberId)"
                            class="btn btn-primary">Unggah</button>
                        <button v-if="buttonStatus == 'ubah' || buttonStatus == 'unggah'" @click="batal($event)"
                            class="btn btn-danger">Batal</button>
                    </form>
                </div>
            </div>
            <!-- Form Member End -->

            <!-- Daftar Member -->
            <div class="row m-2">
                <div class="col-12">
                    <h1>Daftar Member</h1>
                </div>
                <div class="col-12" v-if="messageType.length > 0 && serverMessage.length > 0">
                    <div class="alert alert-dismissible fade show" :class="'alert-' + messageType" role="alert">
                        <strong>Selamat!!</strong> {{serverMessage}}
                        <button type="button" class="close" @click="dismissAlert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <!-- Member Card -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 my-2" v-for="member in members">
                    <div class="card h-100 w-100">
                        <img :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/600x400/efefef/030303'"
                            alt="Foto Profile" class="card-img-top p-4">
                        <div class="card-body">
                            <h5 class="card-title">{{member.name}}</h5>
                            <p class="card-text">Alamat: {{member.address}}</p>
                            <p class="card-text">No. Telp: {{member.no_hp}}</p>
                            <div class="row">
                                <div class="col-12 my-2">
                                    <button class="btn btn-primary w-100" @click="editMember(member.id)">Edit
                                        Member</button>
                                </div>
                                <div class="col-12 my-2">
                                    <button class="btn btn-danger w-100" @click="hapusMember(member.id)">Hapus
                                        Member</button>
                                </div>
                                <div class="col-12 my-2">
                                    <button class="btn btn-secondary w-100" @click="editFoto(member.id)">Edit
                                        Foto</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last Update: {{member.updated_at}}</small>
                        </div>
                    </div>
                </div>
                <!-- Member Card End -->
            </div>
            <!-- Daftar Member End -->
        </div>
        <!-- Content End -->
    </div>
    <!-- Container End -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</body>

</html>