<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
</head>

<body>

    <div id="app">
        <div class="addUser" v-if="add">
            <input type="text" name="name" id="name" v-model="name">
            <button @click="addUser">Add</button>
        </div>
        <div class="addUser" v-if="edit">
            <input type="text" name="name" id="name" v-model="name" v-model="id">
            <button @click="updateUser(name, id)">Update</button>
        </div>
        <div class="box">
            <ul class="user-list" v-for="user in users">
                <li>{{user.name}} <button @click="editUser(user.index)">Edit</button> | <button
                        @click="deleteUser(user.index)">Delete</button></li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var vue = new Vue({
            el: "#app",
            data: {
                users: [
                    {
                        index: 1,
                        name: "Muhammad Iqbal Mubarok"
                    },
                    {
                        index: 2,
                        name: "Ruby Purwati"
                    },
                    {
                        index: 3,
                        name: "Faqih Muhammad"
                    },
                ],
                name: "",
                add: true,
                edit: false,
                id: 0
            },
            methods: {
                addUser: function () {
                    if (this.name.length < 1) {
                        alert("Nama tidak boleh kosong")
                    } else {
                        var user = {
                            index: this.users[this.users.length - 1].index + 1,
                            name: this.name
                        }

                        this.users.push(user)

                        this.name = ""
                    }

                },
                editUser: function (index) {
                    this.add = false
                    this.edit = true

                    var user = this.users.filter((user) => {
                        return user.index == index
                    })

                    this.name = user[0].name
                    this.id = user[0].index

                    console.log(user)

                },
                deleteUser: function (index) {
                    this.users = this.users.filter((user) => {
                        return user.index != index
                    })
                },
                updateUser: function (pUser, index) {
                    var update_user = this.users.filter((user) => {
                        return user.index == index
                    })

                    update_user[0].name = pUser

                    this.name = ""
                    this.id = 0
                    this.add = true
                    this.edit = false

                }
            }
        });
    </script>
</body>

</html>