<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soal 2</title>
    <style>
        .box {
            margin: 15px 0;
        }
    </style>
</head>

<body>

    <div id="app">
        <div class="comment-box" v-for="comment in comments">
            <div class="box">
                <button @click="incrementScore(comment.index)">+</button>
                <p>{{comment.index}} {{comment.comment}} || {{comment.date}} || {{comment.score}}</p>
                <button @click="decrementScore(comment.index)">-</button>
            </div>
        </div>
        <div class="entry-comment-box">
            <textarea name="new_comment" id="new_comment" cols="30" rows="10" v-model="new_comment"
                @keyup="enter"></textarea>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                comments: [
                    {
                        index: 1,
                        comment: "Ini Komentar Pertama",
                        date: "27-09-2000",
                        score: 0
                    },
                    {
                        index: 2,
                        comment: "Ini Komentar Kedua",
                        date: "28-09-2000",
                        score: 0
                    },
                    {
                        index: 3,
                        comment: "Ini Komentar Ketiga",
                        date: "29-09-2000",
                        score: 0
                    }
                ],
                new_comment: ""
            },
            methods: {
                incrementScore: function (index) {
                    this.comments[index - 1].score += 1
                },
                decrementScore: function (index) {
                    this.comments[index - 1].score -= 1
                },
                enter: function (event) {
                    if (event.keyCode == 13) {

                        if (this.new_comment.length < 1) {

                        } else {
                            var date = new Date();

                            const new_comment = {
                                index: (this.comments[this.comments.length - 1].index + 1),
                                comment: this.new_comment,
                                date: date.getDate() + "-" + date.getMonth() + "-" + date.getFullYear(),
                                score: 0
                            }

                            this.comments.push(new_comment)

                            this.new_comment = ""
                        }


                    }
                }
            }
        })
    </script>
</body>

</html>