<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soal 1</title>
</head>

<body>

    <div id="app">
        <input type="text" name="nama_buku" id="nama_buku" v-model="bookName" @keyup="searchBook">
        <br>
        <ul v-for="book in books" v-if="notSearched">
            <li>{{book}}</li>
        </ul>
        <ul v-for="searchedBook in searchedBooks" v-if="searched">
            <li> {{searchedBook}} </li>
        </ul>
        <ul v-if="notFound == true">
            <li>Buku Tidak Ditemukan</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                bookName: "",
                books: [
                    "Kalkulus Dasar",
                    "Fisika Dasar",
                    "Aljabar Linier Elementer",
                    "Aljabar Abstrak",
                    "Algoritma Pemrograman"
                ],
                searchedBooks: [],
                notSearched: true,
                searched: false,
                notFound: false
            },
            methods: {
                searchBook: function () {
                    if (this.bookName.length < 1) {
                        this.searched = false
                        this.notSearched = true
                    }
                    else {
                        this.searched = true
                        this.notSearched = false
                        this.searchedBooks = this.books.filter(book => { return book.toLowerCase().includes(this.bookName.trim().toLowerCase()) })
                    }

                    if (this.searchedBooks.length < 1) {
                        this.notFound = true
                    } else {
                        this.notFound = false
                    }
                }
            }
        });
    </script>
</body>

</html>