body
{
    font-family: sans-serif;
    color: #222831;
    background-color: #edeef7;
}

.profile-card
{
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

.image-container
{
    position: relative;
}

.image-container img
{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.info
{
    color: #30475E;
    margin-right: 8px;
}

.main-container
{
    padding: 10px 20px 20px 20px;

}

.skill-bar
{
    background-color: #7868e6;
    border-radius: 16px;
}

.skill-title
{
    margin-bottom: 5px;
}

.progress-bar
{
    padding: 0.1em 16px;
    border-radius: 16px;
    text-align: center;
    color: #e8e8e8;
    background-color: #b8b5ff;
}

.title
{
    position: absolute;
    bottom: 0;
    left: 8px;
    color: #e4fbff;
}

#title-biodata
{
    margin-top: 0;
}